// Specific CSS for your home-page
.home-banner {
  background-image: url(chair.jpg);
  background-size: cover;
  background-position: center;
  // background-repeat: no-repeat;
  // height: 100%;
  padding: 8px 24px 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
