// Import page-specific CSS files here.
@import "home";
@import "results";
@import "profile";
@import "offer";

.container-part1 {
  display: flex;
  margin-left: 16px;
  align-items: center;
  padding: 0px;
}
