.title {
  margin: 20px 0px 20px 0px;
  text-align: center;
  h3 {
    font-size: 18px;
    font-family: $headers-font;
  }
}

.container-part1 {
  display: flex;
  margin-left: 16px;
  align-items: center;
  padding: 0px;
}

.card-profile {
  overflow: visible;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px 8px 8px 8px;
  // border-radius: 5px;
  border-bottom: 1px solid #daa00e;
}


.card-profile > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card-profile h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-profile p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-profile .card-trip-infos {
  // padding: 16px;
  padding: 16px 8px 16px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: relative;
}

.profile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-green-profile {
  margin: 8px;
  //height: 38px;
  width: 45%;
  color: #daa00e;
  background: rgb(255, 255, 255);
  border: 0.5px solid #f5d278;
  // font-weight: bold;
  padding: 4px 18px 4px 18px;
  border-radius: 5px;
  text-align: center;
  box-shadow: $shadow-sm;
}

.container-login {
  margin: 16px;
}

.container-login .form-actions .btn {
  border: 1px solid $gold;
  color: $gold;
}

.padding-login {
  margin-top: 16px;
}

.padding-right-profile {
  padding-right: 8px;
}
