<div class="chatrooms-container">

  <div class="top-navbar-new-offer">
  <button onclick="history.back()"><i class="fa-solid fa-angle-left fa-lg"></i></button>
  <h3 class="text-center">Your Chatrooms</h3>
  <div></div>
  </div>

    <% @chatrooms.each do |chatroom| %>
      <%= link_to chatroom_path(chatroom) do %>
        <div class="notification space-above">
          <% if chatroom.offer.photos.first.nil? %>
            <img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc" style="height:50px; width: 50px;" >
          <% else %>
            <%= cl_image_tag chatroom.offer.photos.first.key, class: 'notification-image' %>
          <% end %>
          <div class="notification-content">
            <p>about: <strong><%= chatroom.name %></strong> </p>
            <p><small>Price: <%=chatroom.offer.price%> € </small></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
