<div class="home-banner">
    <div class="home-title">
      <h1>wAbiSaBi</h1>
      <p class="slogan">the sustainable way <br /> to find soulful furniture</p>
    </div>
    <div class="dot"><%= image_tag('gold1.png', style: 'height:36px;width:auto')%></div>
    <div class="home-search">
      <%= form_with url: "/offers", method: :get do |form| %>
        <div class="searchbar ">
        <%= link_to advance_path do %>
        <i class="color-dark fa-solid fa-sliders fa-lg"></i>
        <% end %>
        <%= form.text_field :query, placeholder: "e.g. sofa, table, chair", class: "form-control-search" %>
          <button type="submit" class="home-btn">
          <i class="fa-solid fa-magnifying-glass fa-lg color-dark"></i>
          </button>
        </div>
      <% end %>
    </div>
    <span class="home-empty-space">
    </span>
</div>
