<div class="home-banner">
    <div class="home-title">
      <h1>Timeless</h1>
      <p>Find the perfect match for your home</p>
    </div>
    <div class="home-search">
      <%= form_with url: "/offers", method: :get do |form| %>
        <div class="searchbar ">
        <%= link_to advance_path do %>
        <i class="fa-solid fa-sliders home-link"></i>
        <% end %>
        <%= form.text_field :query, placeholder: "Search for furniture", class: "form-control-search" %>
          <button type="submit" class="home-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      <% end %>
    </div>
    <span class="home-empty-space">
    </span>
</div>
