<div class="home-banner">
    <div class="home-title">
      <h1>Timeless</h1>
      <p>Find <u>the perfect</u> <br> secondhand <u>match</u> <br> for your home</p>
    </div>
    <div class="home-search">
      <%= form_with url: "/offers", method: :get do |form| %>
        <div class="searchbar ">
        <%= link_to advance_path do %>
        <i class="fa-solid fa-sliders home-link fa-lg"></i>
        <% end %>
        <%= form.text_field :query, placeholder: "e.g. sofa, chouch, chair", class: "form-control-search" %>
          <button type="submit" class="home-btn">
          <i class="fa-solid fa-magnifying-glass fa-lg"></i>
          </button>
        </div>
      <% end %>
    </div>
    <span class="home-empty-space">
    </span>
</div>
