<div class="container">
  <div class="card-trip">
    <img src="https://static.westwingnow.de/image/upload/seo/t_default.plp_seo/simple/32/0241/1446976/Modulares-Sofa-Lennon-3-Sitzer-in-Beige.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Search for: <%= @search.title %></h2>
        <p>Style: <%= @search.style %></p>
        <p>Condition: <%= @search.condition %></p>
        <p>Material: <%= @search.material %></p>
      </div>
    </div>
  </div>
</div>
