<div class="container">
  <div class="card-trip">
    <img src="https://images.pexels.com/photos/417023/pexels-photo-417023.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" />
    <div class="card-trip-infos">
      <div>
        <h2>I search: <%= @search.title %></h2>
      </div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
