<div class="container">
  <div class="card-trip">
    <div class="card-trip-infos">
      <div>
        <h2>Search for: <%= @search.title %></h2>
        <p>Style: <%= @search.style %></p>
        <p>Condition: <%= @search.condition %></p>
        <p>Material: <%= @search.material %></p>
      </div>
    </div>
  </div>
</div>
