<div class="top-navbar">
  <button onclick="history.back()"><i class="fa-solid fa-angle-left fa-lg topnav"></i></button>
  <h3 class="text-center">Create new offer</h1>
  <i class="fa-solid fa-arrow-up-from-bracket fa-lg topnav"></i>
</div>
