<div class="container-main-offer-show">
<h1 class="text-center"><%= @offer.title %></h1>
  <div class="card-trip-offer-show">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @offer.photos.each do |photo| %>
          <%# <% if photo.key.nil? %>

          <%# else %>
            <%= cl_image_tag photo.key, class: "swiper-slide" %>
    <!-- Add Arrows -->
        <% end %>

      </div>
        <%# <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> %>
    </div>
        <%# <% end %>

    <div class="card-profile-offer-show">
      <div>
       <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user-offer-show avatar-bordered" />
      </div>
    </div>
  </div>
  <%# <%= render "timeslots/new" %>
  <%= render "bookings/new" %>
</div>
