// primary CTA & secondary buttons on Create Offer screen

.container-buttons {
  margin: 8px;
  margin: 18px 0px 4px 0px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  background: transparent !important;
}

.btn-green {
  height: 38px;
  width: 45%;
  color: $white;
  background: $green;
  border: none;
  // font-weight: bold;
  padding: 4px 18px 4px 18px;
  border-radius: 5px;
}

.btn-white {
  height: 38px;
  width: 45%;
  color: $green;
  background: $white;
  border: 1px solid $green;
  // font-weight: bold;
  padding: 4px 18px 4px 18px;
  border-radius: 5px;
  text-align: center;
}

.btn-white:hover {
  text-decoration: none;
  color: $green !important;
}


// button Show item screen
.btn-request-green {
  background-color: $green;
  text-align: center;
  text-decoration: none;
  border: none;
  color: $white;
  padding: 4px 18px 4px 18px;
  height: 38px;
  border-radius: 5px;
}

//button Chat screen Send

.btn-chat-green {
  color: $white;
  text-align: center;
  background-color: $green;
  text-decoration: none;
  border-color: $green;
  border-radius: 0px 5px 5px 0px;
  height: 38px;
  margin-top: 8px;
}
