.card-product {
  overflow: hidden;
  // height: 150px;
  background: white;
  box-shadow: $shadow-md;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin: 10px 16px 8px 16px;
  justify-content: space-between;
  border: 0.5px solid #f5d278;
}

.card-product-fav {
  overflow: hidden;
  // height: 150px;
  background: white;
  box-shadow: $shadow-sm;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin: 10px 0px 8px 0px;
  justify-content: space-between;
}


.card-product img {
  height: 90px;
  width: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.card-product h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.card-product-third {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 16px;
  height: 90px;
}

.card-product-price {
  font-size: 14px !important;
  font-weight: bold;
  padding-top: 44px;
}


.card-product-hide {
  display: none;
}


// .card-product {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0px 4px 6px -1px rgb(0 0 0 / 10%), 0px 2px 4px -1px rgb(0 0 0 / 6%);
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   border-radius: 5px;
//   margin: 10px 8px 8px 8px;
//   justify-content: space-between;
//   /* border: 0.5px solid #f5d278; */
// }

// .fa-location-dot {
//   color: $gold !important;
// }


// .fa-glasses  {
//   color: $gold;
// }
