.card-search  {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin: 16px;
}

.card-searches  {
  //overflow: hidden;
  // height: 150px;
  padding-top: 15px;
  background: white;
  box-shadow: $shadow-md;
  display: flex;
  // align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin: 16px;
  border: 0.5px solid #f5d278;
  margin-bottom: 24px;
}

.title-searches{
  font-size: medium;
  padding-top: 3px;
}

.searches-links {
  //align-items: center;
  //display: flex;
}
