.card-offer-show {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-top: 0.5px solid #f5d278;
  border-bottom: 0.5px solid #f5d278;
}

.card-offer-show > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-offer-show h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-offer-show p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-profile-offer-show {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1bbc91;
  padding-left: 16px;
  padding-right: 16px;
}

.card-profile-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-profile-part p {
  font-size: smaller;
}

// .form-select {
// //   text-align: center;
//   // background-color: rgb(225, 225, 225);
//   box-shadow: 0 1px 2px rgba(136, 135, 135, 0.8);
//   color: rgb(134, 133, 133);
//   border-radius: 5px;
//   border: none;
// //   background-image: none;
//   padding: 8px;
//   height: 45px;
// }

// .dropdown-timeslot-show-scr {
//  max-height: 38px !important;
// }

.card-timeslot-offer-show {
  margin-left: 8px;
  margin-right: 0px;
  margin-bottom: 16px;
  box-shadow: $shadow-light;
  border-radius: 5px;
}

.card-timeslot-offer-show select {
  box-shadow: $shadow-light;
}

.card-send-offer-show {
  // margin-left: 8px;
  // margin-right: 8px;
  // margin-bottom: 16px;
  padding: 0px;
  // box-shadow: $shadow-sm;
  // border-radius: 5px;
  padding-top: 24px;
  // background-color: $purple;
  text-align: center;
  width: 50%;
}

.button-send {
  box-shadow: $shadow-lg;
}


.width {
  width: 85%;
  margin-right: 20px;
}


.card-profile-offer-show .card-user-offer-show {
  right: 16px;
  top: -20px;
  width: 40px;}

.card-description-offer-show {
  // border-bottom: 1px solid rgb(167, 166, 166);
  border-bottom: 1px solid $gold;
  margin: 0px 16px 16px 16px;
  padding: 8px;
}

.card-PCS-offer-show {
  margin: 16px;
  padding: 8px;
}

.container-header-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.avatar-bordered-show {
  width: 50px;
  border-radius: 50%;
  box-shadow: $shadow-sm;
  border: white 1px solid;
  margin: 4px;
}

.label-timeslot {
  text-align: center;
}

.fa-chevron-right {
  color: white;
}

.timeslot_and_request_buttons {
  display: flex;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
}

.color-fix {
  color: $purple;
}

.margin-fix {
  margin-bottom: 0px;
}

.pin {
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 6px;
  border-radius: 50%;
}

.pin1 {
  left: 16px;
  top: 16px;
}

.pin2 {
  right: 16px;
  top: 16px;
}

.pin-red{
  position: absolute;
  color: #daa00e;
  background-color: rgb(255, 255, 255);
  padding: 6px;
  border-radius: 50%;
}

.color-gray {
  color: rgb(164, 163, 163);
  background-color: none;
}

.button-envelope button {
  border: none;
  background-color: $white;
  color: $green;
  padding-bottom: 24px;
}


.pin-gold{
  color: #daa00e;
  background-color: rgb(255, 255, 255);
  // padding: 6px;
  border-radius: 50%;
}

.underline-show {
  text-decoration: underline 4px;
  text-decoration-color: #f5e8c7;
}
