.card-offer-show {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-offer-show > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-offer-show h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-offer-show p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-profile-offer-show {
  margin: 16px;
  box-shadow: 0 1px 2px rgba(136, 135, 135, 0.8);
  border-radius: 5px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items:center;


}

.card-send-offer-show {
  margin: 16px;
  box-shadow: 0 1px 2px rgba(136, 135, 135, 0.8);
  border-radius: 5px;
  padding: 8px;
}

.card-timeslot-offer-show {
  margin: 16px;
  box-shadow: 0 1px 2px rgba(136, 135, 135, 0.8);
  border-radius: 5px;
  padding: 8px;
}


.card-profile-offer-show .card-user-offer-show {
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-description-offer-show {
  border-bottom: 1px solid rgb(167, 166, 166);
  margin: 16px;
  padding: 8px;
}

.card-PCS-offer-show {
  margin: 16px;
  padding: 8px;
}
