.expendable-menu{
  display: flex;
  bottom: 70px;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.not-showing-menu{
  display: none;
}


.fa-stack {
  color: $dark-gray;
  // color: white;
  margin: 8px 8px 4px 8px;
  border-radius: 50%;
  // -webkit-text-stroke: 0.5px $white;
  height: 60px;
  width: 60px;
  border: 1px solid $light-gray;
  background: white;
  // background: $dark-gray;
}

#normalhand1 {
  font-size: 32px;
  margin-top: 12px;
  padding-left: 4px;
}

#normalhand2 {
  font-size: 12px;
  padding: 16px 8px 24px 24px;
  color: $dark-gray;
  // color: white;
}

#flippedhand1 {
  font-size: 32px;
  margin-top: 7px;
}

#flippedhand2 {
  font-size: 12px;
  padding: 32px 22px 12px 9px;
  color: $dark-gray;
  // color: white;
}
