
.footer {
  bottom: 0;
  background-color: white;
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  padding: 0px 0px;
  color: rgba(0,0,0,0.3);
  border-radius: 5px;

}

.footer-links {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}
.footer-links a {
  // color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.fa-regular {
  text-decoration: none;
  font-size: 16px;
  //color: $purple;
  font-weight: 50 ;
  //margin: 18px;

}

#plus{
  text-decoration: none;
  font-size: 38px !important;
  // color: $purple;
  margin: 18px 18px 40px 18px;
  color: rgb(65, 65, 65);

}

.plus{
  text-decoration: none;
  font-size: 25px;
  // color: $purple;
  margin: 18px;
  color: rgb(65, 65, 65);
}


.newsearch{

  text-decoration: none;
  font-size: 25px;
  // color: $purple;
  margin: 18px;
  color: rgb(65, 65, 65);
}

.newplus{

  text-decoration: none;
  font-size: 30px;
  // color: $purple;
  // color: #000000;
  margin: 18px;
  // color: rgb(44, 44, 44);
  color: rgb(65, 65, 65);

}


.color-primary {
  color: $purple;
}

.color-dark {
  color: rgb(65, 65, 65);
}

.color-dark a {
  color: rgb(65, 65, 65);
}

.fa-solid {
  // color: $purple;
}

// .footer {
//   bottom: 0;
//   background: white;
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   height: 60px;
//   width: 100%;
//   padding: 0px 50px;
//   color: rgba(0,0,0,0.3);
//   margin-top: -50px
// }

// .footer-links {
//   display: flex;
//   align-items: center;
//   margin-left: 8px;
//   margin-right: 8px;
// }
// .footer-links a {
//   color: black;
//   text-decoration: none;
//   font-size: 24px;
//   padding: 0px 10px;
// }

// .fa-regular {
//   text-decoration: none;
//   font-size: 32px;
//   // color: #4B2CE9;
//   color: #000000;

//   font-weight: 50 ;
//   margin: 18px;

// }
