
.footer {
  bottom: 0;
  background-color: white;
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  padding: 0px 0px;
  color: rgba(0,0,0,0.3);
  border-radius: 5px;
  border-top: 1px solid $gold;
}

.footer-links {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}
.footer-links a {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.fa-regular {
  text-decoration: none;
  font-size: 16px;
  //color: $purple;
  font-weight: 50 ;
  margin: 18px;
}

#plus {
  text-decoration: none;
  font-size: 32px !important;
  color: rgb(40, 40, 40);
}

.plus {
  text-decoration: none;
  font-size: 25px;
  margin: 0px 18px 0px 18px;
  color: rgb(40, 40, 40);
}


.newsearch{
  text-decoration: none;
  font-size: 25px;
  color: rgb(40, 40, 40);
}

.newplus{

  text-decoration: none;
  font-size: 30px;
  margin: 18px;
  // color: rgb(44, 44, 44);
  color: rgb(40, 40, 40);
}


.color-primary {
  color: $purple;
}

.color-dark {
  color: rgb(45, 45, 45);
}

.color-dark a {
  color: rgb(45, 45, 45);
}

// .footer a:active {
//   border-top: 10px solid $light-green !important;
// }
