.expendable-menu{
  display: flex;
  bottom: 50px;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;


}

.not-showing-menu{
  display: none;
}
